* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-color: aliceblue;
}

main .wrapper {
  padding: 30px 20px 0;
}

header {
  text-align: center;
  padding: 0 20px 20px 20px;
  padding-top: 0px;
  color: green;
  line-height: 15px;
}

H1 {
  font-size: 50px;
  margin-top: 50px;
}

H2 {
  font-size: 36px;
  font-style: italic;
  text-decoration: underline;
  color: coral;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  min-height: 500px;
}
/* END OF GLOBAL */

/* START QUIZ style */
#start {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}

#start h3 {
  font-size: 30px;
  padding-bottom: 0px;
}

#start p {
  padding: 10px, auto;
  text-align: left;
  line-height: 1.25;
}

#start ol {
  padding: 0px 100px;
  text-align: left;
}

#start ol li {
  padding-top: 10px;
  font-size: 22px;
}

.btn {
  border: none;
  background-color: crimson;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

/* END of START QUIZ */

/* QUIZ SECTION */
#quiz {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}
#choices {
  align-items: flex-start;
}
#choices button {
  border: black;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  display: list-item;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}
#choices button:hover {
  background-color: coral;
}

/* PROGRESS SECTION */
#progress {
  width: auto;
  bottom: 0px;
  padding: 5px;
  text-align: center;
}
.prog {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}
/* END of PROGRESS */

/* TIMER SECTION */
#counter {
  background-color: green;
  color: white;
  font-size: 3em;
  text-align: center;
  border-radius: 25px;
  border-width: 1px;
  padding: 20px 10px;
}
/* END of TIMER section */

/* SCORE SECTION */
#scoreContainer {
  margin: 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 100px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  display: none;
}

#scoreContainer p {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
}
/* END of SCORE */
